/* body { */
    /* background-image: url('https://wallpapers.com/images/hd/blogging-backdrop-with-typewriter-xobjxvnbcdjcwt9r.jpg'); */
    /* background-image: url('https://www.teahub.io/photos/full/20-206302_fondos-de-pantalla-minimalistas-4k.jpg'); */

/* }  */

/* .bg {
    background-image: url('https://lh3.googleusercontent.com/proxy/fpiUauFKCN_PDrgpY5Y0ItbseFK9GF6fI4kHgTx74jpYel9cBj2sGiz4ZZYoCXYtOXASQ34cwDfHVtXORM3LZqlsqfdOO_v7yi5uJWQuODm4TkPxM_GNmmFKL8AH75vVuFkARJgPuKg');
} */

.img-eff {
    opacity: 0.5;
}

.img-eff:hover {
    opacity: 1;
}

.spanSvg {
    color: white;
}

.spanSvg:hover {
    color: red;
    cursor: pointer;
}


.deletePost {
    text-align: center;
    color: rgb(199, 27, 27);
}

.deletePost:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}